@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 0;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'IM Fell English', serif;
    font-size: 16px;

    color: #000000;
    background: #E5E5E5;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-title {
    margin-top: 100px;
    margin-bottom: 6%;
    font-size: 8em;
}

.main-title .enchant {
    color: #CF093F;
}

.btn-holder {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    ;
}

@keyframes on-hover {
    0% {
        box-shadow: inset 0px 0px 0px #f70445;
    }

    100% {
        box-shadow: inset -4px -4px 0px #CF093F;
    }
}

.main-btn {
    width: 65%;

    margin-bottom: 33px;

    font-size: 4em;

    color: inherit;
    border: 5px solid #CF093F;
    border-radius: 70px;

    text-align: center;
    text-decoration: none;
}

.main-btn:hover {
    animation: on-hover 500ms linear;
    box-shadow: inset -4px -4px 0px #CF093F;
}

.sub-title {
    margin-top: 100px;
    margin-bottom: 6%;

    font-size: 5em;

    text-align: center;
}

.text-holder {
    margin: 0;

    font-family: 'Harmattan', sans-serif;
    font-size: 2.5em;

    text-align: center;
}

.input-holder {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 8%;
}

.number-input {
    margin: 2%;

    font-family: 'Harmattan', serif;
    font-size: 3em;

    /* color: inherit; */
    background: inherit;

    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@keyframes on-hover-submit {
    0% {
        color: #FFFFFF;
    }

    100% {
        color: #AAAAAA;
    }
}

.submit-btn {
    width: 25%;

    font-family: inherit;
    font-size: 2.3em;

    color: #FFFFFF;
    background: #CF093F;

    border: 0px solid #CF093F;
    border-radius: 70px;

    cursor: pointer;
}

.submit-btn:hover {
    animation: on-hover-submit 250ms linear;
    color: #AAAAAA;
}

/* responsive-css */

@media all and (max-width: 600px) {
    .main-title {
        font-size: 4em;
        /* text-align: center; */
    }

    .main-btn {
        width: 80%;
        font-size: 3em;
    }

    .sub-title {
        font-size: 4em;
    }

    .number-input {
        width: 100%;
    }

    .submit-btn {
        width: 50%;
    }
}